# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native / Build
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
android/app/debug.keystore

# Metro
.metro-health-check*

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Local env
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Jest (tests)
__tests__/**/*.snap